# backend

PG_USER=
PG_PASSWORD=
PG_DB=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
MAIL_USE_CREDENTIALS=
MAIL_VALIDATE_CERTS=

JWT_SECRET_KEY=

ENABLE_METRICS=
METRICS_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
PAYMENT_GATEWAY_MOCK_MODE=True

# tests

TEST_PG_USER=
TEST_PG_PASSWORD=
TEST_PG_DB=

TEST_JWT_SECRET_KEY=

# demo

DOMAIN=

# ports

BACKEND_PORT=8000
PROMETHEUS_PORT=
GRAFANA_PORT=
LOCUST_PORT=8089

# kafka

KAFKA_AUTO_TOPICS=False